#background_img{
  background-image: url("../assets/img1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1000px;
}

#background_img > hr{
    border-top: 1px solid #DA7074;
}

/* ----- Surcharge de FontAwesome ----- */

.fa{
  color: white;
  cursor: pointer;
}

.fa:before{
  font-size: 20px;
}

.fa-align-right{
  margin-left: 30px;
}

.fa-play-circle:before{
    font-size: 50px;
    font-weight: 100;
}

/* ----- Surcharge de Bootstrap ----- */

.text-decoration-none{
  color: white;
}

.text-decoration-none:hover{
  color: #000;
}

/* ----- HEADER ----- */

header{
  padding: 40px;
  margin-bottom: 150px;
  color: white;
}

header > img{
  width: 35px;
  height: auto;
}

.header-links{
  font-size: 12px;
}

/* ----- BODY ----- */

#main-content{
  margin-bottom: 100px;
}

#main-title{
  font-family: "Playfair Display";
  font-size: 90px;
  color: #FFF;
}

#main-description{
  font-family: "Montserrat";
  font-size: 14px;
  color: #FFF;
  width: 350px;
  margin: auto;
}

#btn-home{
    background-color: #DA7074;
    border-radius: 50px;
    width: 160px;
    height: 40px;
    margin-top: -35px;
    padding-top: 5px;
    font-family: "Montserrat";
}

#btn-home:hover{
    color: #000;
}

#go-to-play{
    margin-top: 50px;
    margin-bottom: 30px;
    border-left: 1px solid #DA7074;
    border-right: 1px solid #DA7074;
    width: 5px;
    height: 150px;
}

.no-padding-right{
    padding-right: 0;
}

.row-bg-img{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  opacity: 0.9;
  background-color: #000000;
}

#row-first-img{
  background-image: url("../assets/img2.jpg");
}

#row-second-img{
  background-image: url("../assets/img3.png");
  background-position: initial;
}

#row-third-img{
  background-image: url("../assets/img4.png");
}

#row-fourth-img{
  background-image: url("../assets/img5.png");
  background-position: right;
}

.desc-img{
  color: white;
}

.desc-img-margin{
  margin-top: 350px;
  line-height: 2;
}

.desc-img-margin:hover{
    color: #000;
}

.title-img{
  font-size: 15px;
  letter-spacing: 1px;
}

/* ----- FOOTER ----- */

footer{
  padding: 100px;
}

.title,
.description{
  font-family: "Montserrat";
  font-size: 14px;
}

.title{
  margin-bottom: 35px;
}

.description{
  color: #777;
}

/* ----- RESPONSIVE ----- */

@media(min-width: 992px){

    .no-padding-right{
        margin-left: 0;
    }

}
